{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}

     <div class="alert alert-success alert-dismissible fade show" role="alert">
         {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

    <h1>Blog Posts ...</h1>
    <br/>

        {% for post in posts %}

        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <tr>
            <td>

                <h4> <a href=" {{url_for('post', id=post.id) }}"> {{ post.title }} </a> </h4>
               <small>By: {{ post.poster.name }} <br/>
              {{ post.content|safe }} <br/>
                {{ post.date_posted }} <br/></small>
               <a href=" {{url_for('post', id=post.id) }}" class="btn btn-secondary btn-sm">View Post</a>
                {% if post.poster.id == current_user.id or current_user.id == 25 %}
                <a href=" {{url_for('edit_post', id=post.id) }}" class="btn btn-secondary btn-sm">Edit Post</a>

                <a href=" {{url_for('delete_post', id=post.id) }}" class="btn btn-danger btn-sm">Delete Post</a>
                {% endif %}
        </tr>
        </div>


        {% endfor %}






{% endblock %}